// Colors
$lightGrayColor: #B4A69D;
$darkGrayColor: #242223;
$orangeMainColor: #FF922B;
$whiteColor: #FFFFFF;
$blackColor: #000000;


// Fonts
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;




